**/.idea
**/__pycache__/
**/decompressed_battle/
**/release
**/decompressed_battle
*.sh
IfritXlsx/OriginalFiles
IfritXlsx/OutputFiles
*.log
test
*.dat
*.md
*.xml
ExternalTools/Quezacotl/*
ExternalTools/Siren/*
ExternalTools/IfritGui/*
ExternalTools/Hyne/*
ExternalTools/JumboCactuar/*
ExternalTools/Junkshop/*
ExternalTools/Deling/*
*.exe
**.xml
SelfUpdate
*.hext
*.csv
**/*.bin
*.xlsx