{
  "vanilla_battle_dir": "C:/Users/YOU/.../FF8UltimateEditor/extracted_files/battle",
  "md_workdir": "C:/Users/YOU/.../FF8UltimateEditor/pipeline/ai_md",
  "j8_mod_battle_dir": "X:/Junction VIII/YourTestMod/SubFolder/battle",
  "j8_exe": "C:/Users/YOU/AppData/Local/Programs/Junction VIII/Junction VIII.exe"
}
